header.splash {

  .backdrop {
    background: url(./assets/photos/151190_logging77264.jpg);
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: fixed;
    padding-top: 60vh;

    .titles {
      background-image: linear-gradient(to bottom, transparent, fade(black, 80%));
      padding: 100px 30px 20px;
    }
  }

  h1 {
    margin-top: 0;
    font-size: 70px;
    text-align: center;
    color: white;
  }

  h2 {
    text-align: center;
    color: white;
  }
}