@import "seattletimes";
@import "map";
// @import (inline) "npm://chartist/dist/chartist.css";
@import "habitat";

.constrained {
  max-width: 800px;
  margin: 0 auto;
}

header, footer {
  background: white;
}

main {
  font-size: 16px;

  section.opaque {
    background: white;
    padding: 20px;
  }
}
