<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <div class="backdrop">
        <div class="titles">
          <h1>Slash and burn</h1>
          <h2>In the rush to fight fire, has Washington State lost control?</h2>
        </div>
      </div>
      <div class="credit">Ken Lambert / The Seattle Times</div>
      <div class="caption">Rich Haydon, a former Forest Service employee, looks at the massive pile of cut timber.</div>
    </header>

    <main>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.intro) %>
        </div>
      </section>

      <section class="opaque">
        <div class="wide-image">
          <img src="./assets/photos/fireline_piles.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">Aerial view of the fire line area near Meadow Creek campsite, taken on Wednesday, June 29, 2016, near Leavenworth. Slash piles are seen at roundabout where Meadow Creek Rd. (lower left) intersects with NF-6306 (upper right).</div>
        </div>
        <div class="constrained text">
          <%= t.process(markdown.story1) %>
        </div>
        <div class="wide-image">
          <img src="./assets/photos/151190_logging77269.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">A pile of timber taken from the cut, near Leavenworth.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story2) %>
        </div>
        <div class="image-set">
          <div class="row">
            <div class="cell">
              <img src="./assets/photos/Loggers_truck.jpg">
            </div>
            <div class="cell">
              <img src="./assets/photos/151190_logging77253.jpg">
            </div>
          </div>
          <div class="credit">US Forest Service, Ken Lambert / The Seattle Times</div>
          <div class="caption">Loggers were supposed to leave trees larger than 20 inches when they cut a fire line into the woods near Leavenworth. But many much larger trees were felled. Rich Haydon, a former Forest Service employee, measures one such giant.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story3) %>
        </div>
      </section>

      <section class="opaque habitat-data">

        <div class="contents">
          <h2>Animal habitat damage by the numbers</h2>

          <p class="chatter">
            Due to the emergency status of the cut, and the haste with which it was conducted, acres of animal habitat were destroyed, including trees and nesting grounds for the spotted owl.

          <ul class="numbers">
            <li> <strong>6,658 acres</strong> <span class="description">Size of a typical owl home range in the Eastern Cascades (roughly a circle with a 1.8-mile radius)</span>
            <li> <strong>46%</strong> <span class="description">Portion of the Chiwawa reserve that's considered "suitable" for owls, according to a 1997 assessment</span>
            <li> <strong>237 acres</strong> <span class="description">Amount of forest cut for the Wolverine fire line</span>
            <li> <strong>114 acres</strong> <span class="description">Amount of the cut that crossed through owl habitat (roughly 48%)</span>
          </ul>
          
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story4) %>
        </div>

        <div class="image-set">
          <div class="row">
            <div class="cell">
              <img src="./assets/photos/151190_logging77270.jpg">
            </div>
            <div class="cell">
              <img src="./assets/photos/151190_logging77272.jpg">
            </div>
          </div>
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">Photos of the cut near Leavenworth. A big ponderosa survived fire in the past, but it was no match for loggers. Fire resistant species such as ponderosa were supposed to be protected.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story5) %>
        </div>
      </section>

      <section class="fspro-map">
        <leaflet-map id="fspro">
          <map-options>{ "zoomControl": false }</map-options>
          <tile-layer layer="cartoPositron"></tile-layer>
          <tile-layer layer="esriTerrain" opacity=".2"></tile-layer>
        </leaflet-map>
        <div class="segment" data-segment="fire">
          As a part of the fire planning effort, the government models the likelihood that the fire will spread beyond a certain point using software called FSPro. The map shown displays the bounds of the fire in dark orange, and the fire line is shown in black.
        </div>
        <div class="segment" data-segment="initial">
          Modeling on Aug. 27 predicted a high probability that the fire would head south, possibly threatening Plain, Ardenvoir and areas nearby. The fire line was planned accordingly and work began three days later.
        </div>
        <div class="segment" data-segment="revised">
          Quickly, however, it became clear that the fire was not likely to spread. The weather was rainy and cool. A model run on Sept. 5 put the odds of the fire's spread beyond the line at less than 1%. 
        </div>
        <div class="segment" data-segment="continued">
          Loggers continued cutting down trees for nine more days. The markers shown here are places where repairs would be needed to correct the environmental damage to fish and owl habitat.
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story6) %>
        </div>
      </section>

    </main>


    <footer>
      <%= t.include("partials/_dontMiss.html", { data: [
        { 
          head: "Heron's baby boom fills tiny park near Ballard locks",
          link: "http://www.seattletimes.com/seattle-news/environment/herons-baby-boom-fills-tiny-park-near-ballard-locks-after-eagles-made-them-move/",
          image: "heron-teaser.jpg"
        }, {
          head: "Elwha: roaring back to life",
          link: "http://projects.seattletimes.com/2016/elwha/",
          image: "elwha-teaser.jpg"
        }
      ]}) %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>


    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
