<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <section class="opaque">
      <%= t.include("partials/_ad.html", { type: "banner" }) %>
    </section>

    <header class="splash">
      <h1>Slash and Burn</h1>
      <h2>In the rush to fight fires, has Washington State lost control?</h2>
      <div class="wide-image">
        <img class="backdrop" src="./assets/photos/151190_logging77253.jpg">
        <div class="credit">Ken Lambert / The Seattle Times</div>
        <div class="caption">Rich Haydon, a former Forest Service employee, measures the size of trees cut for an emergency fire line logged in the national forest near his home with no environmental review. Trees bigger than 20 inches were supposed to be protected.</div>
      </div>
    </header>

    <main>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.intro %>
        </div>
      </section>

      <section class="opaque">
        <div class="wide-image">
          <img src="./assets/photos/151190_logging77269.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">A pile of timber taken from the cut, near Leavenworth.</div>
        </div>
        <div class="constrained text">
          <%= markdown.story1 %>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.story2 %>
        </div>
        <div class="wide-image">
          <img src="./assets/photos/151190_logging77264.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">Rich Haydon, a former Forest Service employee, looks at the massive pile of cut timber.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.story3 %>
        </div>
      </section>

      <section class="opaque habitat-data">

        <div class="contents">
          <h2>Animal habitats decimated</h2>

          <p class="chatter">
            Due to the emergency status of the cut and the haste in which it was conducted, acres of animal habitat were destroyed, including trees and nesting grounds for the spotted owl. The following tables show the suitable habitat areas before and after the cut, according to studies conducted by the US Fish and Wildlife Service.

          <%
          var habitat = {
            beforeAll: [74.86283844, 21.06170266, 57.09534176, 27.99388487],
            afterAll: [0, 0, 0, 181.0137677],
            beforeOwls: [0.919061858, 0.286575332, 4.123612051, 0.839319714],
            afterOwls: [0, 0, 0, 6.168568955],
            labels: ["Highly suitable", "Marginal", "Suitable", "Unsuitable"]
          }
          %>

          <div class="row-of-tables">

            <div class="table-container">
              <h3>Habitat in cut areas, in acres</h3>
              <table class="habitat all">
                <thead>
                  <tr>
                    <th>
                    <th class="before"> Before
                    <th class="after"> After
                <tbody>
                  <% habitat.labels.forEach(function(l, i) { %>
                  <tr>
                    <th><%= l %>
                    <td class="before"><%= habitat.beforeAll[i].toFixed(2) %>
                    <td class="after"><%= habitat.afterAll[i].toFixed(2) %>
                  <% }); %>
              </table>
            </div>

            <div class="table-container">
              <h3>Owl habitat in cut areas, in acres</h3>
              <table class="habitat owls">
                <thead>
                  <tr>
                    <th>
                    <th class="before"> Before
                    <th class="after"> After
                <tbody>
                  <% habitat.labels.forEach(function(l, i) { %>
                  <tr>
                    <th><%= l %>
                    <td class="before"><%= habitat.beforeOwls[i].toFixed(2) %>
                    <td class="after"><%= habitat.afterOwls[i].toFixed(2) %>
                  <% }); %>
              </table>
            </div>

          </div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.story4 %>
        </div>

        <div class="image-set">
          <div class="row">
            <div class="cell">
              <img src="./assets/photos/151190_logging77270.jpg">
            </div>
            <div class="cell">
              <img src="./assets/photos/151190_logging77272.jpg">
            </div>
          </div>
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">Photos of the cut near Leavenworth. On the right, a big ponderosa survived fire in the past, but it was no match for loggers. Fire resistant species such as ponderosa were supposed to be protected.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.story5 %>
        </div>
      </section>

      <section class="fspro-map">
        <leaflet-map id="fspro">
          <map-options>{ "zoomControl": false }</map-options>
          <tile-layer layer="cartoPositron"></tile-layer>
          <tile-layer layer="esriTerrain" opacity=".2"></tile-layer>
        </leaflet-map>
        <div class="segment" data-segment="fire">
          As a part of the fire planning effort, the government models the likelihood that the fire will spread beyond a certain point using software called FSPro. The map shown displays the bounds of the fire in dark orange, and the fire line is shown in black.
        </div>
        <div class="segment" data-segment="initial">
          When the initial measurements were taken, the model predicted a high probability that the fire would head south, possibly threatening Leavenworth. The fire line was planned accordingly, and cutting began.
        </div>
        <div class="segment" data-segment="revised">
          Quickly, however, it became clear that the fire was not likely to spread. The weather was rainy and cool. A new model run on Sept. 5 put the odds of the fire's spread beyond the fire line at less than 1%.
        </div>
        <div class="segment" data-segment="continued">
          Despite that prediction, workers continued cutting the line. The markers shown here are places where repairs would be needed to correct the environmental damage to fish and owl habitat.
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= markdown.story6 %>
        </div>
      </section>

    </main>


    <footer>
      <%= t.include("partials/_dontMiss.html", { data: [] }) %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>


    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
