<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <div class="backdrop">
        <img src="./assets/photos/151190_logging77264.jpg">
      </div>
      <div class="credit">Ken Lambert / The Seattle Times</div>
      <div class="caption">Rich Haydon, a former Forest Service employee, says this fire line should never have been cut.</div>
      <div class="constrained titles">
        <h1>In rush to fight fire that never came Forest Service logged miles of forest, destroyed critical habitat</h1>
      </div>
      <div class="constrained byline">
        By Lynda V. Mapes<br/>
        Seattle Times environment reporter
      </div>
    </header>

    <main>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.intro) %>
        </div>
      </section>

      <section class="opaque">
        <div class="narrow-image">
          <img src="./assets/photos/Loggers_truck.jpg">
          <div class="credit">US Forest Service</div>
          <div class="caption">Loggers were supposed to leave trees larger than 20 inches when they cut a fire line into the woods near Leavenworth. But many much larger trees were felled, including this giant.</div>
        </div>

        <div class="constrained text">
          <%= t.process(markdown.story1) %>
        </div>

        <div class="narrow-image">
          <img src="./assets/photos/151190_logging77253.jpg">    
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">"The big stumps, the spindly trees left behind, you can’t justify it," said Rich Haydon, a local resident opposed to the cut. "I am not going to let this go. It doesn’t make sense in terms of fire fighting, or what we would do in timber sales in this day and age."</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story2) %>
        </div>
      </section>

      <section class="fspro-map">
        <leaflet-map id="fspro">
          <map-options>{ "zoomControl": false }</map-options>
          <tile-layer layer="cartoPositron"></tile-layer>
          <tile-layer layer="esriTerrain" opacity=".2"></tile-layer>
        </leaflet-map>
        <div class="segment" data-segment="fire">
          As a part of the fire planning effort, the US Forest Service models the likelihood that the fire will spread beyond a certain point. The map shown displays the bounds of the fire in dark orange, and the fire line is shown in black.
        </div>
        <div class="segment" data-segment="initial">
          Modeling on Aug. 27 predicted a high probability that the fire would head south, possibly threatening Plain, Ardenvoir and areas nearby. The fire line was planned accordingly and work began three days later.
        </div>
        <div class="segment" data-segment="revised">
          Quickly, however, it became clear that the fire was not likely to spread. The weather was rainy and cool. A model run on Sept. 5 put the odds of the fire's spread beyond the line at less than 1%. 
        </div>
        <div class="segment" data-segment="continued">
          Loggers continued cutting down trees for nine more days. The markers shown here are places where repairs would be needed to correct the environmental damage to fish and owl habitat.
        </div>
        <div class="notes">
          <div class="source">Source: US Forest Service</div>
          <div class="credit">Thomas Wilburn / The Seattle Times</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story3) %>
        </div>
      </section>

      <section class="opaque">
        <div class="narrow-image">
          <img src="./assets/photos/151190_logging77269.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">Nearly four million board feet of timber were cut in the fire line.</div>
        </div>
        <div class="constrained text">
          <%= t.process(markdown.story4) %>
        </div>
      </section>

      <section class="opaque habitat-data">

        <div class="contents">
          <h2>Northern Spotted Owl, by the numbers</h2>

          <p class="chatter">
            Due to the emergency status of the cut, and the haste with which it was conducted, acres of animal habitat were destroyed, including trees and nesting grounds for the spotted owl. Listed as threatened under the Endangered Species Act, spotted owls are largely or exclusively associated with forests and require lots of space. In addition to home ranges of thousands of acres, the mean dispersal range for juveniles is more than 9 miles for males and more than 15 miles for females. Habitat losses due to logging, fire, and invasion of barred owls are among chief threats to their survival.

          <ul class="numbers">
            <li> <strong>6,658 acres</strong> <span class="description">Size of a typical owl home range in the Eastern Cascades (roughly a circle with a 1.8-mile radius)</span>
            <li> <strong>46%</strong> <span class="description">Portion of the Chiwawa reserve that's considered "suitable" for owls, according to a 1997 assessment</span>
            <li> <strong>55-77%</strong> <span class="description">Decline in Washington's spotted owl population from 1985 to 2013</span>
            <li> <strong>237 acres</strong> <span class="description">Amount of forest cut for the Wolverine fire line</span>
            <li> <strong>114 acres</strong> <span class="description">Amount of the cut that crossed through owl habitat (roughly 48%)</span>
          </ul>

          <div class="source">Source: US Geological Survey, Washington Department of Fish and Wildlife, US Forest Service</div>
          
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story5) %>
        </div>

        <div class="narrow-image">
          <img src="./assets/photos/151190_logging77272.jpg">
          <div class="credit">Ken Lambert / The Seattle Times</div>
          <div class="caption">A big ponderosa survived fire in the past, but it was no match for loggers. Fire resistant species such as ponderosa were supposed to be protected.</div>
        </div>
      </section>

      <section class="opaque">
        <div class="constrained text">
          <%= t.process(markdown.story6) %>
        </div>
      </section>

    </main>


    <footer>
      <%= t.include("partials/_dontMiss.html", { data: [
        { 
          head: "Heron's baby boom fills tiny park near Ballard locks",
          link: "http://www.seattletimes.com/seattle-news/environment/herons-baby-boom-fills-tiny-park-near-ballard-locks-after-eagles-made-them-move/",
          image: "heron-teaser.jpg"
        }, {
          head: "Elwha: roaring back to life",
          link: "http://projects.seattletimes.com/2016/elwha/",
          image: "elwha-teaser.jpg"
        }, {
          head: "Scientists now link massive starfish die-off, warming ocean",
          link: "http://www.seattletimes.com/seattle-news/environment/scientists-now-link-massive-starfish-die-off-warming-ocean/",
          image: "starfish-teaser.jpg"
        }, {
          head: "Northwest tribes unite against giant coal, oil projects",
          link: "http://www.seattletimes.com/seattle-news/environment/northwest-tribes-unite-against-giant-coal-oil-projects/",
          image: "tribes-teaser.jpg"
        }
      ]}) %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>


    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
